@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

* {
  font-family: 'Neucha', cursive;
}

.App {
  text-align: center;

}
body {
  /* background-color: rgb(255,127,80); */

  
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 150s ease infinite;
}
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}


/* Home component */
.infos-and-title {
  width: 700px;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
}
.infos-score, .infos-question-number {
  width: 150px;
}

.start-button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  font-size: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
}

.start-button:hover {
  background-color: #DC3023;
  color: white;
}

/* Questionnaire component */
.questionnaire {
  background-color: #ffffff;
  color: rgb(255,127,80);
  width: 700px;
  padding: 50px;
  border-radius: 2px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.question {
  height: 100px;
}

/* AnswerButton component */
.answers-list {
  width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.answer {
  width: 49%;
  height: 65px;
  background-color: rgb(255,127,80);
  border: none;
  border-radius: 2px;
  margin: 5px auto;
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
}
.answer:hover {
  border: 2px solid black;
}
/* correct answer */
.bg-green {
  background-color: #8DB255;
}
/* wrong answer */
.bg-red {
  background-color: #DC3023;
}

.loading-alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.final-message {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 2rem;
}

/* alarm */
.alarm {
  height: 170px;
  width: 170px;
}
.alarm-picture {
  display: block;
  margin: 0 auto;
  width: 150px;

}
.animation-size-alarm {
  animation: sizeAnimationAlarm 1s ease infinite;
}
@keyframes sizeAnimationAlarm {
  0% {
      height: 150px;
      width: 150px;
  }
  50% {
    height: 160px;
    width: 160px;
  }
  
  100% {
    height: 150px;
    width: 150px;
  }
}


/* counter within the alarm */
.counter {
  position: relative;
  top: -75px;
  /* transform: translate(-70%, -70%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */

  color: #DC3023;
  animation: sizeAnimationCounter 1s ease-in infinite;
}
@keyframes sizeAnimationCounter {
  0% {
    font-size:1.5rem;
  }
  50% {
    font-size:1.505rem;
  }
  
  100% {
    font-size:1.5rem;
  }
}


@media screen and (min-width: 1025px) and (max-width: 1366px) {

  .questionnaire {
    top: 70%;
  }
  .start-button {
    top: 60%;
  }
}

@media screen and (max-width: 1024px) {
  .questionnaire {
    top: 60%;
    width: 500px;
  }
  .answers-list {
    width: 100%;
  }
  .answer {

  }

  .final-message {
    top: 38%;
  }
}
@media screen and (max-width: 560px) {
  .infos-and-title {
    width: 500px;
  }
  .questionnaire {
    width: 350px;
    top: 70%;
  }
  .final-message {
    top: 65%;
  }
}

@media screen and (max-width: 480px) {
  body {
    /* background-color: rgb(255,127,80); */
  
    
    background: linear-gradient(-95deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 150s ease infinite;
  }
  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }
  .infos-and-title {
    width: 100%;
    display: block;
    position: static;
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
  }
  .infos {
    display: flex;
    flex-direction: column;
    position: static;
  }
  .start-button {

    position: static;
    transform: translate(0%, 0%);
    margin: 0 auto;
  }

  .questionnaire {
    width: 290px;
    margin: 0 auto;
    padding: 20px;
    position: static;
    transform: translate(0%, 0%);
  }
  .final-message {
    top: 75%;
  }
  .infos-score {
    font-size: 1rem;
  }
  .infos-question-number {
    width: 200px;
    font-size: 1rem;

  }
  .answer {
    font-size: 1rem;
  }
}

@media screen and (max-width: 320px) {
  h1 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.2rem;
  }
  .infos-score {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .infos-question-number {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .question {
    height: 80px;
  }
  .questionnaire {
    width: 80%;
    padding: 10px;
  }
  .start-button {
    margin-top: 50px;
  }
  .final-message {
    position: static;
    transform: translate(0%, 0%);
  }
}



